################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AnimationSample/obj/Debug
/AnimationSample/bin/Debug
.vs
AnimationSample/.vs
packages
AnimationSample/obj
AnimationSample/bin
